@font-face {
  font-family: 'Billy';
  src: url("../fonts/billy.woff") format("woff"), url("../fonts/billy.woff2") format("woff2"), url("../fonts/billy.ttf") format("truetype"); }

body,
html, root {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: #66e3ab; }

.App {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2em;
  box-shadow: -20px 0px #000000;
  background-color: #f6f48e; }
  @media screen and (min-width: 768px) {
    .App {
      margin-left: 15vw; } }
  .App .section-title {
    font-size: 10vw;
    color: #000000;
    padding: 1em 0 0 0; }
    @media screen and (min-width: 768px) {
      .App .section-title {
        font-size: 5vw; } }

.App-header {
  align-items: left;
  justify-content: left;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Billy", sans-serif; }
  @media screen and (min-width: 768px) {
    .App-header {
      margin-top: 10vh; } }
  @media screen and (max-width: 768px) {
    .App-header {
      margin-top: 2vh; } }
  .App-header img {
    display: block;
    width: 50vw;
    height: auto;
    -webkit-animation: fadein 3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
    /* Firefox < 16 */
    -ms-animation: fadein 3s;
    /* Internet Explorer */
    animation: fadein 3s; }
    @media screen and (min-width: 768px) {
      .App-header img {
        width: 24vw; } }
  .App-header .App-intro {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 5vh; }
    @media screen and (min-width: 768px) {
      .App-header .App-intro {
        margin-bottom: 10vh; } }
    .App-header .App-intro .name {
      color: #000000;
      font-size: 9vw;
      font-family: "Billy", sans-serif;
      -webkit-animation: fadein 3s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s;
      /* Firefox < 16 */
      -ms-animation: fadein 3s;
      /* Internet Explorer */
      animation: fadein 3s; }
      @media screen and (min-width: 768px) {
        .App-header .App-intro .name {
          font-size: 6.5vw; } }
    .App-header .App-intro .title {
      color: #bd4854;
      font-size: 5vw;
      margin-top: 5px;
      -webkit-animation: delayFadein 3s;
      /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: delayFadein 3s;
      /* Firefox < 16 */
      -ms-animation: delayFadein 3s;
      /* Internet Explorer */
      animation: delayFadein 3s; }
      @media screen and (min-width: 768px) {
        .App-header .App-intro .title {
          font-size: 2.6vw; } }
      @media screen and (max-width: 768px) {
        .App-header .App-intro .title {
          font-size: 6vw; } }

.content-divider {
  width: 98%;
  justify-content: left;
  float: left;
  background-color: #bd4854;
  height: 20px;
  box-shadow: 5px 10px;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  -webkit-box-shadow: 5px 10px;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 5px 10px;
  /* Firefox 3.5 - 3.6 */ }
  @media screen and (min-width: 768px) {
    .content-divider {
      height: 40px; } }

h1 {
  margin: 0; }

h2 {
  margin: 1; }

.skills {
  margin-bottom: 5vh;
  font-family: "Billy", sans-serif; }
  @media screen and (min-width: 768px) {
    .skills {
      margin-bottom: 10vh; } }
  .skills p {
    max-width: 90vw;
    padding: 0 3em; }
    @media screen and (min-width: 768px) {
      .skills p {
        max-width: 40vw; } }
  .skills ul {
    columns: 2;
    margin: 0.75em 0;
    list-style: none;
    max-width: 80vw; }
    @media screen and (min-width: 768px) {
      .skills ul {
        font-size: 2.5vw;
        padding: 0 3em 0 3em; } }
    @media screen and (max-width: 768px) {
      .skills ul {
        font-size: 6vw;
        padding: 0 0 0 .25em; } }
    .skills ul li {
      color: #dd7251;
      margin: 1em 0.25em;
      padding: 0 0.25em;
      box-shadow: 5px 10px #000000;
      /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      -webkit-box-shadow: 5px 10px #000000;
      /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 5px 10px #000000;
      /* Firefox 3.5 - 3.6 */
      background-color: #66e3ab;
      border-color: #000000;
      border-width: 2px;
      border-style: solid; }
      .skills ul li:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
        /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: none;
        /* Firefox 3.5 - 3.6 */ }
    .skills ul li::before {
      content: "";
      border-color: transparent #66e3ab;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.5em;
      position: relative; }

.contactme {
  height: 30vh;
  font-family: "Billy", sans-serif; }
  @media screen and (min-width: 768px) {
    .contactme {
      height: 30vh;
      margin-bottom: 10vh; } }
  .contactme .logo-container {
    display: flex;
    text-align: center;
    padding: 0 3em; }
    .contactme .logo-container .logo {
      padding: 3vw;
      display: inline-block;
      height: 6vh;
      width: auto;
      transition: transform 0.4s; }
      @media screen and (min-width: 768px) {
        .contactme .logo-container .logo {
          height: 12vh; } }
    .contactme .logo-container .logo:hover {
      transform: scale(1.2); }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes delayFadein {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes delayFadein {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes delayFadein {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes delayFadein {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }
