body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.App {
  display: inline-block;
  margin: auto;
  width: 80%;
  margin-left: 10vw;
  font-family: "Nunito Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .App {
    margin-left: 20vw;
  }
}
.App .section-title {
  font-size: 10vw;
  color: #444444;
}
@media screen and (min-width: 768px) {
  .App .section-title {
    font-size: 5vw;
  }
}

.App-header {
  align-items: left;
  justify-content: left;
  height: auto;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .App-header {
    height: 100vh;
    margin-top: 10vh;
  }
}
.App-header img {
  display: block;
  width: 50vw;
  height: auto;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  animation: fadein 3s;
}
@media screen and (min-width: 768px) {
  .App-header img {
    width: 24vw;
  }
}
.App-header .App-intro {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 80%;
  margin-bottom: 5vh;
}
@media screen and (min-width: 768px) {
  .App-header .App-intro {
    margin-bottom: 20vh;
  }
}
.App-header .App-intro .intro1 {
  color: #307390;
  font-size: 9vw;
  font-family: "Cabin", sans-serif;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  animation: fadein 3s;
}
@media screen and (min-width: 768px) {
  .App-header .App-intro .intro1 {
    font-size: 6.5vw;
  }
}
.App-header .App-intro .intro2 {
  color: #444444;
  font-size: 4vw;
  margin-top: 5px;
  -webkit-animation: delayFadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: delayFadein 3s;
  /* Firefox < 16 */
  -ms-animation: delayFadein 3s;
  /* Internet Explorer */
  animation: delayFadein 3s;
}
@media screen and (min-width: 768px) {
  .App-header .App-intro .intro2 {
    font-size: 2.6vw;
  }
}

.content-divider {
  margin: auto;
  width: 100%;
  background-color: #333333;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .content-divider {
    height: 40px;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 1;
}

.technologies {
  margin-bottom: 5vh;
}
@media screen and (min-width: 768px) {
  .technologies {
    margin-bottom: 20vh;
  }
}
.technologies ul {
  columns: 2;
  margin: 0.75em 0;
  padding: 0 3em;
  list-style: none;
  font-size: 5vw;
}
@media screen and (min-width: 768px) {
  .technologies ul {
    font-size: 2.5vw;
  }
}
.technologies ul li::before {
  content: "";
  border-color: transparent #307390;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

.resume {
  margin-bottom: 10vh;
}
@media screen and (min-width: 768px) {
  .resume {
    margin-bottom: 20vh;
  }
}
.resume .resume-box {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.resume .resume-box iframe {
  width: 70vw;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .resume .resume-box iframe {
    height: 90vh;
  }
}

.contactme {
  height: 30vh;
}
@media screen and (min-width: 768px) {
  .contactme {
    height: 70vh;
  }
}
.contactme .logo-container {
  display: flex;
  text-align: center;
  padding: 2vw;
}
.contactme .logo-container .logo {
  padding: 2vw;
  display: inline-block;
  height: 8vh;
  width: auto;
  transition: transform 0.4s;
}
@media screen and (min-width: 768px) {
  .contactme .logo-container .logo {
    height: 12vh;
  }
}
.contactme .logo-container .logo:hover {
  transform: scale(1.2);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=App.css.map */
