body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.App {
  margin: auto;
  width: 80%;
  margin-left: 20vw;
  font-family: "Nunito Sans", sans-serif;
}

.App-header {
  align-items: left;
  justify-content: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
.App-header img {
  display: block;
  width: 30%;
  height: auto;
  justify-content: center;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  animation: fadein 3s;
}
.App-header .App-intro {
  padding: 0;
  margin: 0;
  text-align: left;
  width: 80%;
}
.App-header .App-intro .intro1 {
  color: #307390;
  font-size: calc(38px + 4vmin);
  font-family: "Cabin", sans-serif;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  animation: fadein 3s;
}
.App-header .App-intro .intro2 {
  color: #444444;
  font-size: calc(20px + 2vmin);
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 10px;
  margin-top: 5px;
  -webkit-animation: delayFadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: delayFadein 3s;
  /* Firefox < 16 */
  -ms-animation: delayFadein 3s;
  /* Internet Explorer */
  animation: delayFadein 3s;
}

.logo-container {
  display: flex;
  text-align: center;
}
.logo-container .logo {
  padding: 0.5em;
  display: inline-block;
  height: 2em;
  width: 2em;
  transition: transform 0.4s;
}
.logo-container .logo:hover {
  transform: scale(1.2);
}

.navigation-container {
  display: flex;
  text-align: left;
  margin: auto;
  width: 100%;
  background-color: #333333;
  height: 40px;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}
.navigation-container .navigation-link {
  padding-right: 1em;
  display: inline-block;
  font-size: calc(18px + 2vmin);
  color: #ffffff;
}

h1 {
  margin: 0;
}

h2 {
  margin: 1;
}

.technologies {
  margin-top: 20vh;
  margin-bottom: 20vh;
  font-size: calc(8px + 2vmin);
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.technologies .technology-card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10vh;
}
.technologies .technology-card-row .technology-card {
  transition: transform 0.4s;
}
.technologies .technology-card-row .technology-card a {
  color: inherit;
  text-decoration: none;
}
.technologies .technology-card-row .technology-card:hover {
  transform: scale(1.4);
}

.resume {
  height: 100vh;
  text-align: center;
}
.resume iframe {
  max-width: 80%;
  height: 80%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=App.css.map */
