
$color-pink: #bd4854;
$color-blue: #5da59a;
$color-lightBlue: #66e3ab;
$color-orange: #ee7a07;
$color-orange2: #dd7251;
$color-yellow: #f6f48e;
$color-black: #000000;

$color-background: $color-yellow;
$color-highlight1: $color-blue;
$color-highlight2: $color-pink;
$color-headerText: $color-pink;
$color-subHeaderText: $color-black;
$color-bodyText: $color-orange2;

$font-title: "Billy", sans-serif;
$font-body: "Billy", sans-serif;

@font-face {
  font-family: 'Billy';
  src: url('../fonts/billy.woff') format('woff'), /* Modern Browsers */
       url('../fonts/billy.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/billy.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body,
html , root {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-color: $color-lightBlue;
}


.App {
  display: flex;
  // margin: auto;
  flex-direction: column;
  // margin-left: 10vw;
  padding: 0 0 0 2em;
  // box-shadow: -20px 0px #000000;
  // -webkit-box-shadow: -20px 0px #000000;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  // -moz-box-shadow:    -20px 0px #000000;  /* Firefox 3.5 - 3.6 */
  box-shadow: -20px 0px #000000;
    //Desktop
    @media screen and (min-width: 768px) {
      margin-left: 15vw;
    }

  background-color: $color-background;
  .section-title {
    font-size: 10vw;
    color: $color-subHeaderText;
    padding: 1em 0 0 0;
    //Desktop
    @media screen and (min-width: 768px) {
      font-size: 5vw;
    }
  }
}

.App-header { //pitcha, name, title
  align-items: left;
  justify-content: left;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: $font-title;
  //Desktop
  @media screen and (min-width: 768px) {
    margin-top: 10vh;
  }
  //Mobile
  @media screen and (max-width: 768px) {
    margin-top: 2vh;
  }

  img { //pitcha of me
    display: block;
    width: 50vw;
    height: auto;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    animation: fadein 3s;
    @media screen and (min-width: 768px) {
      width: 24vw;
    }
  }

  .App-intro { //name, title
    padding: 0;
    margin: 0;
    text-align: left;
    // width: 80vw;
    margin-bottom: 5vh;
    //Desktop
    @media screen and (min-width: 768px) {
      margin-bottom: 10vh;
    }
    .name { //muh name
      color: $color-subHeaderText;
      font-size: 9vw;
      font-family: $font-title;
      -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
      animation: fadein 3s;
      @media screen and (min-width: 768px) {
        font-size: 6.5vw;
      }
    }

    .title { //muh title
      color: $color-pink;
      font-size: 5vw;
      margin-top: 5px;
      -webkit-animation: delayFadein 3s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: delayFadein 3s; /* Firefox < 16 */
      -ms-animation: delayFadein 3s; /* Internet Explorer */
      animation: delayFadein 3s;
      @media screen and (min-width: 768px) {
        font-size: 2.6vw;
      }
      //Mobile
      @media screen and (max-width: 768px) {
        font-size: 6vw;
      }
    }
  }
}

.content-divider {
  width: 98%;
  justify-content: left;
  float: left;
  background-color: $color-highlight2;
  height: 20px;
  box-shadow: 5px 10px; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  -webkit-box-shadow: 5px 10px;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 10px;  /* Firefox 3.5 - 3.6 */

  //Desktop
  @media screen and (min-width: 768px) {
    height: 40px;
  }
}

h1 {
  margin: 0;
}

h2 {
  margin: 1;
}

.skills {
  margin-bottom: 5vh;
  font-family: $font-body;

  //Desktop
  @media screen and (min-width: 768px) {
    margin-bottom: 10vh;
  }

  p {
    max-width: 90vw;
    padding: 0 3em;
    //Desktop
    @media screen and (min-width: 768px) {
      max-width: 40vw;
    }
  }

  ul {
    columns: 2;
    margin: 0.75em 0;
    list-style: none;
    max-width: 80vw;

    //Desktop
    @media screen and (min-width: 768px) {
      font-size: 2.5vw;
      padding: 0 3em 0 3em;
    }
    //Mobile
    @media screen and (max-width: 768px) {
      font-size: 6vw;
      padding: 0 0 0 .25em;
    }

    li {
      color: $color-bodyText;
      margin: 1em 0.25em;
      padding: 0 0.25em;
      box-shadow: 5px 10px $color-black; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      -webkit-box-shadow: 5px 10px $color-black;;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    5px 10px $color-black;;  /* Firefox 3.5 - 3.6 */
      background-color: $color-lightBlue;
      border-color: $color-black;
      border-width: 2px;
      border-style: solid;
      &:hover {
        box-shadow: none;
        -webkit-box-shadow: none; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    none;  /* Firefox 3.5 - 3.6 */
      }
    }

    li::before { //arrow bullet points
      content: "";
      border-color: transparent $color-lightBlue;
      border-style: solid;
      border-width: 0.35em 0 0.35em 0.45em;
      display: block;
      height: 0;
      width: 0;
      left: -1em;
      top: 0.5em;
      position: relative;
    }
  }
}


.contactme {
  height: 30vh;
  font-family: $font-body;
  @media screen and (min-width: 768px) {
    height: 30vh;
    margin-bottom: 10vh;
  }
  .logo-container {
    display: flex;
    text-align: center;
    padding: 0 3em;

    .logo {
      padding: 3vw;
      display: inline-block;
      height: 6vh;
      width: auto;
      transition: transform 0.4s;
      //Desktop
      @media screen and (min-width: 768px) {
        height: 12vh;
      }
    }
    .logo:hover {
      transform: scale(1.2);
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes delayFadein {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
